---
// CarouselControls.astro
// This component creates the controls for the carousel.

//TODO: change ext file to .module.css
// import styles from "./carouselControls.css";
import "./carouselControls.css";
---
<div class="controls">
  <button onclick="prevSlide()">⟨</button>
  <button onclick="nextSlide()">⟩</button>
</div>
