/* ContactInfoCard.module.css */

.contact-info {
  flex: 1;
  padding: var(--padding-medium);
}

.contact-info h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-large);
}

.contact-info p {
  margin-bottom: calc(var(--spacing-small) * 3); /* 12px */
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  margin-top: calc(var(--spacing-small) * 3);
  color: var(--text-color-primary);
}

.contact-info span {
  /* Para iconos dentro de .contact-info */
  color: var(--primary-color);
  margin-right: var(--spacing-large);
  font-size: 1.2rem;
  /* Mantiene un tamaño específico si es necesario */
  vertical-align: middle;
}

.contact-info iframe {
  width: 100%;
  border: none;
  border-radius: var(--border-radius-large);
  height: 450px;
}

/* Estilo para el hover/focus del párrafo */
.contact-info p:hover,
.contact-info p:focus {
  color: var(--primary-color);
}

/* Estilo para iconos (si los usas directamente con esta clase aquí) */
.material-icons {
  font-size: var(--font-size-h2); /* 24px */
  color: var(--primary-color);
  vertical-align: middle;
}