/* Hero.module.css */

.heroImage {
  background-size: cover;
  background-position: center;
  min-height: 25vh;
  height: 50vh;
  min-width: 100vw;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.withOverlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), var(--hero-image);
}

.heroText {
  text-align: center;
  color: var(--text-contrast-color);
  background-color: rgba(0, 0, 0, 0.2);
  padding: var(--padding-small);
  border-radius: var(--border-radius);
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--margin-medium);
}

p {
  margin: var(--margin-large);
  font-size: var(--font-size-base);
  margin-bottom: var(--margin-medium);
}

button {
  margin: var(--margin-large);
}