---
//index.astro

//Importing layouts
import Layout from "../layouts/MainLayout.astro";
//Importing components
import Carousel from "@/components/Carousel.astro";
//Importing ImageMetadata
import type { ImageMetadata } from "astro";
//Importing images
import hero from "../assets/images/hero.webp";

//Setting the page title
const pageTitle = "Carousel using Astro";
//Importing images for the slideshow
const images = [
  "/code.jpg",
  "/dogs.jpg",
  "/nature.jpg",
];

//Creating an object for the hero image
  const heroImage: ImageMetadata = hero;
---
<Layout title={pageTitle}>
  <Carousel images={images} />
</Layout> 

<h1>Test / Prueba</h1>
<img src={heroImage.src} alt="image">