---
// index.astro

import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/MainLayout.astro";

const title = "Empresa | Hero";
---

<Layout title={title}>
  <Welcome />

  {/* TODO: Delete this text when the content is ready*/}
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et enim
    sit amet nisi lacinia lobortis non sit amet neque. Mauris id felis pulvinar,
    sodales arcu sed, facilisis libero. Nulla imperdiet est risus, finibus
    hendrerit lacus interdum in. Donec rhoncus nisi enim, et vehicula quam
    finibus et. Cras aliquet condimentum dolor a facilisis. Aenean eget laoreet
    tortor, nec cursus ex. In sollicitudin condimentum purus at ornare. Quisque
    elementum ut dolor nec scelerisque. In tincidunt vestibulum dolor, nec
    placerat felis aliquet ut.
  </p>
  <p>
    Duis tristique aliquet lorem, ac tristique purus scelerisque quis. Donec et
    odio ipsum. Praesent commodo purus eu tincidunt eleifend. Nunc urna sem,
    vehicula ac tortor ut, tincidunt sollicitudin libero. Duis gravida dolor ac
    velit aliquam suscipit. Pellentesque ornare imperdiet sem, in pellentesque
    nisi volutpat sit amet. Vivamus purus tortor, pharetra id lorem ornare,
    commodo dictum nisi. Nulla dignissim metus ut neque semper, pretium aliquet
    neque tristique.
  </p>
  <p>
    Aenean maximus, ipsum hendrerit bibendum vehicula, purus urna rutrum nulla,
    non luctus enim est ac massa. Sed sit amet purus ac sem porttitor tristique
    ac at mauris. Fusce a neque a eros viverra aliquet eget sed odio. Nunc
    posuere ac dolor a tempus. Nam sit amet massa non mi condimentum iaculis sit
    amet in magna. Sed sed pulvinar velit. Aliquam sollicitudin volutpat enim,
    quis pellentesque nisl hendrerit sed. Phasellus mollis felis dolor, a
    condimentum risus accumsan sed. Curabitur porta lorem sit amet nibh
    sollicitudin facilisis ut vitae tortor.
  </p>
  <p>
    Integer commodo lectus sit amet est hendrerit, ut dignissim purus aliquet.
    Integer maximus scelerisque magna, et sodales neque iaculis quis. Class
    aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
    himenaeos. Duis pellentesque ac urna id dignissim. Vivamus eu convallis
    augue. Fusce ornare massa justo. Nam et viverra sem.
  </p>
  <p>
    Vestibulum ornare, risus sed dignissim fermentum, ipsum augue consequat
    nulla, at vestibulum leo mauris at dolor. Nullam non purus scelerisque,
    lacinia enim nec, congue erat. Quisque ultrices est nec ante tristique
    posuere. Cras ultricies porttitor sapien a pulvinar. Nam porta ornare turpis
    et elementum. Morbi id est pharetra, tincidunt urna ac, hendrerit diam.
    Mauris ac hendrerit metus. Etiam sit amet viverra justo. Donec nulla nisl,
    lobortis nec fringilla vitae, cursus at quam.
  </p>
</Layout>

<style>
  p {
    margin: 2.5rem 25rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--text-color);
    text-align: justify;
  }
</style>
