/* ContactForm.module.css */

.form-section {
  flex: 1;
  padding: var(--padding-large);
  background-color: var(--background-color-light);
}

.form-section h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-large);
}

.form-section p {
  margin-bottom: calc(var(--spacing-small) * 3); /* 12px */
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  margin-top: calc(var(--spacing-small) * 3);
  color: var(--text-color-primary);
}

.form-section form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

.form-section label {
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--spacing-small);
}

.form-section input,
.form-section textarea {
  padding: var(--padding-small);
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-base);
  width: 100%;
}

.form-section button {
  align-self: start;
  background-color: var(--primary-color);
  color: #fff;
  padding: var(--padding-small) var(--spacing-xl);
  border: none;
  border-radius: var(--border-radius-large);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: background var(--transition-duration) var(--transition-easing);
}

.form-section button:hover {
  background-color: color-mix(in srgb, var(--primary-color) 80%, black);
}

.form-section input:hover,
.form-section textarea:hover,
.form-section input:focus, /* Incluye el estado focus para consistencia */
.form-section textarea:focus {
  border-color: #999; /* Un gris más oscuro */
  outline: none; /* Opcional: Quita el outline predeterminado del navegador y estiliza el tuyo si lo deseas */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); /* Un sutil resplandor */
}