/* ContactForm.module.css */

.parent-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  flex: 1;
  margin: var(--margin-large);
}


.container {  
  background-color: var(--background-color-section); /* Color de fondo del contenedor */
 flex-direction: column; /* Organiza los elementos en una columna */
 gap: var(--spacing-medium); /* Espacio entre los elementos */
  /*box-sizing: border-box;*/
  justify-content: center;
  align-items: center;
  padding: var(--padding-medium); /* Espacio interno del contenedor */
  margin: var(--margin-large);
  /*gap: var(--spacing-small);*/
  width: 100%;
  border-radius: var(--spacing-small);
  border: 1px solid var(--border-color-light);
  box-shadow: 0 0 var(--spacing-medium) rgba(0, 0, 0, 0.5);
}

p {
  margin-bottom: var(--spacing-small);
  font-size: var(--font-size-base);
  align-items: center;
  color: var(--text-color);
  margin: var(--margin-small);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

input, textarea {
  padding: var(--padding-small);
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-base);
  width: 100%;
}

button {
  max-width: 100%;
  width: fit-content;
  box-sizing: border-box;
}

button:hover {
  background-color: var(--hover-button-color);
}

input:hover, textarea:hover, input:focus, textarea:focus {
  border-color: var(--border-color-light);
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}