---
//Welcome.astro

//import "../styles/global.css";

// # TODO: En caso de ser necesario pasar este componente a una pagina.

import styles from "./Welcome.module.css";
import ContactInfoCard from "../components/ContactInfoCard/ContactInfoCard.astro";
import ContactForm from "../components/ContactForm/ContactForm.astro";
---

<div class={styles.container}>
    <ContactInfoCard />
    <ContactForm />
</div>