---
//Welcome.astro

// # TODO: En caso de ser necesario pasar este componente a una pagina.

import ContactInfoCard from "../components/ContactInfoCard/ContactInfoCard.astro";
import ContactForm from "../components/ContactForm/ContactForm.astro";
import styles from "./Welcome.module.css";
---

<div class={styles.container}>
    <ContactInfoCard />
    <ContactForm />
</div>