---
//Welcome.astro
// # TODO: pasar este componente a un page | sent this component to a astro page?
import "../styles/global.css";
import ContactInfoCard from "../components/ContactInfoCard/ContactInfoCard.astro";
import ContactForm from "../components/ContactForm/ContactForm.astro";
---

<div class="container">
    <ContactInfoCard />
    <ContactForm />
</div>
