---
//Welcome.astro
---

<main class="text">
  <h1>Astro UI Components</h1>
  <p>
    Este proyecto contiene una colección de componentes de interfaz de usuario
    reutilizables y personalizables. Cada componente está diseñado para ser
    fácil de integrar y modificar, proporcionando una base sólida para construir
    aplicaciones web modernas y atractivas.
  </p>
  <h2>Propósito</h2>
  <ul>
    <li>Componentes listos para usar</li>
    <li>Estilos personalizables y adaptables</li>
    <li>Componentes modulares y reutilizables</li>
    <li>Fácil integración</li>
  </ul>
  <br />
  <p>"This project contains a collection of reusable and customizable user interface components. Each component is designed to be easy to integrate and modify, providing a solid foundation for building modern and attractive web applications."</p>
  <h2>Purpose</h2>
  <ul>
    <li>Components ready for use</li>
    <li>Styles that are customizable and adaptable</li>
    <li>Modular and reusable components</li>
    <li>Integration made easy</li>
  </ul>
</main>
<style>
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-large);
    background-color: var(--background-color-section);
  }

  .text p {
    max-width: 800px;
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--text-color);
    text-align: justify;
    margin: 0;
    margin-top: 3em;
  }
</style>
