---
//Welcome.astro

import Hero from "./Hero/Hero.astro";
import image from "../assets/images/hero.webp";
import styles from "./Welcome.module.css";
---

<div class={styles.container}>
  <Hero
    heroImage={image.src}
    heroTitleText="Titulo de la página"
    heroDescriptionText="Descripción de la página"
    buttonLabel="Comenzar"
  />
</div>
