---
//Welcome.astro

// # TODO: En caso de ser necesario pasar este componente a una pagina.

import Testimonials from "./Testimonials/Testimonials.astro";
import styles from "./Welcome.module.css";
---

<div class={styles.container}>
  <Testimonials />
</div>
