/* Welcome.module.css */

/* Contenedor padre */
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--background-color-section);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: var(--spacing-small);
  padding: var(--spacing-small);
  box-sizing: border-box;
  justify-content: center;
  max-width: 1200px;
  max-height: 90vh;
  width: 100%;
  border-radius: var(--spacing-small);
  border: 1px solid var(--border-color-light);
  
}
