---
// Carousel.astro
// This component creates a carousel.

import CarouselControls from "@/components/CarouselControls/CarouselControls.astro";
//TODO: change ext file to .module.css
//import styles from "./carousel.css";
import "./carousel.css";


// Interface for the props
interface CarouselProps {
  images: string[];
}

// Destructuring the images property
const { images = [] } = Astro.props as CarouselProps;
---

<section class="carousel">
  <div class="slides" id="carousel-container">
    {
      images.map((src, index) => (
        <img
          src={src}
          alt={`Slide ${index + 1}`}
          class="slide"
          style={index === 0 ? "display: block" : "display: none"}
        />
      ))
    }
  </div>

  {/*TODO: Resolved*/}
<CarouselControls />

</section>

<script type="module">
  let currentSlide = 0;
  const slides = [];

  document.addEventListener("DOMContentLoaded", () => {
    const container = document.getElementById("carousel-container");
    slides.push(...container.querySelectorAll(".slide"));
    showSlide(currentSlide);
  });

  function showSlide(index) {
    slides.forEach((slide, i) => {
      slide.style.display = i === index ? "block" : "none";
    });
  }

  window.nextSlide = () => {
    currentSlide = (currentSlide + 1) % slides.length;
    showSlide(currentSlide);
  };

  window.prevSlide = () => {
    currentSlide = (currentSlide - 1 + slides.length) % slides.length;
    showSlide(currentSlide);
  };

  setInterval(nextSlide, 2000);
</script>

{/*TODO: Resolved*/}
