/* TestimonialsSection.module.css */

.testimonialsSection {
    background-color: #f9f9f9; /* Color específico */
    padding: var(--padding-large) var(--padding-medium); /* 3rem 2rem */
    text-align: center;
  }
  
  .testimonialsSection h2 {
    font-size: var(--spacing-xl); /* 2rem */
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-xl); /* 2rem */
  }
  
  .testimonialsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xl); /* 2rem */
    justify-content: center;
  }
  
  .testimonialCard {
    background-color: #fff; /* Color específico */
    padding: calc(var(--padding-small) * 2); /* 1.5rem */
    border-radius: var(--spacing-large); /* 1rem */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); /* Valor específico */
    max-width: 300px; /* Valor específico */
    text-align: left;
  }
  
  .message {
    font-style: italic;
    margin-bottom: var(--spacing-large); /* 1rem */
  }
  
  .name {
    font-weight: var(--font-weight-bold);
    color: #333; /* Color específico */
  }
  
  .testimonialCard:hover {
    border: 1px solid var(--primary-color); /* Borde con color primario */
    cursor: pointer; /* Indica interactividad */
    transition: border-color var(--transition-duration) var(--transition-easing); /* Animación suave */
  }