---
//MainLayout.astro

import "../styles/reset.css";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&family=Material+Icons&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      /* Estilos críticos en línea para la carga inicial */
      body {
        font-family: sans-serif; /* Fuente por defecto */
        line-height: 1.5;
        color: #4A4A4A;
        background-color: #FAFAFA;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
